/* Link reset to remove the underlines from links */
.card-body > a:link,
.card-body > a:visited,
.card-body > a:active {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.card-body > a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.gray-text {
  color: gray;
}

.icon-gray {
  color: gray;
}

.course-modify-button {
  background-color: white;
  border: 1px solid gray;
  width: 40%;
}

.course-modify-in-card-button {
  background-color: white;
  border: 1px solid purple;
  border-radius: 5px;
  width: 60% !important;
  font-size: medium;
  margin: 3px;
}
