.side-navbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: 80px;
  flex-direction: column;
  background-color: black;
  padding: 2px;
}

/* Link reset to remove the underlines from links */
.nav-item > a:link,
.nav-item > a:visited,
.nav-item > a:hover,
.nav-item > a:active {
  text-decoration: none;
  color: white; /* Set the default link color to white */
}

.side-navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.side-navbar-text {
  font-size: 11px;
  padding: 0; /* Adjust padding to meet spacing requirements */
}

/* Icons */
.icon {
  font-size: 20px; /* Adjust size as needed */
  margin: 3px 3px; /* Adjust margin as needed */
  color: red; /* Default color for icons */
}

.second-navbar-item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
}

.second-navbar-item > a {
  text-decoration: none;
  color: #c41111;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
}

/*show underline on links when hover*/
.second-navbar-item > a:hover {
  text-decoration: underline;
  color: #c41111;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
}

.second-navbar-active-item > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-left: 2px solid black;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*show underline on links when hover*/
.second-navbar-active-item > a:hover {
  text-decoration: underline;
  color: black;
  font-weight: 500;
}

.second-sidebar-ul {
  width: 190px;
  background-color: white;
  height: 100%;
  z-index: 1;
  word-wrap: normal;
}

.second-sidebar-ul > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
  word-wrap: normal;
}

label {
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}

input {
  width: 300px;
  height: 40px;
  border: 2px solid lightgrey;
}

textarea {
  width: 300px;
  height: 120px;
  border: 2px solid lightgrey;
}

select {
  width: 200px;
  height: 40px;
  border: 2px solid lightgrey;
}

td > input {
  width: 150px;
  height: 40px;
  border: 2px solid lightgrey;
}

button {
  height: 40px;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}
